{% extends 'base.html.twig' %}

{% block title %}Detail of {{ product.name }} !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Detail of {{ product.name }}</h1>
</div>
{% endblock %}
